/* Default (Desktop already OK) */

/* Tablets */
@media (max-width: 768px) {
  .App-header {
    padding: 20px;
    font-size: calc(12px + 2vmin);
  }

  .App-logo {
    height: 30vmin;
  }
}

/* Mobile Phones */
@media (max-width: 480px) {
  .App {
    padding: 10px;
  }

  .App-header {
    min-height: 100vh;
    padding: 15px;
    justify-content: center;
    text-align: center;
    font-size: 16px;
  }

  .App-logo {
    height: 25vmin;
    margin-bottom: 20px;
  }

  .App-link {
    font-size: 14px;
  }
}
