.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  align-items: center;
  background-color: #f4f6f8;
}

button {
  padding: 12px 25px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 6px;
  background-color: #2563eb;
  color: white;
}

button:hover {
  background-color: #1e40af;
}
